@import "../../../assets/styles/_bootstrap.scss";

.chessboard {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  margin-bottom: 1rem;

  & ._rank {
    display: flex;
  }

  & ._square {
    position: relative;

    width: 12.5%;
    max-width: 12.5%;

    &::after {
      display: block;
      padding-bottom: 100%;

      content: "";
    }

    &.-rankeven {
      &:nth-child(even) {
        background-color: white;
      }

      &:nth-child(odd) {
        background-color: darken(#51cbce, 15);
      }
    }

    &.-rankodd {
      &:nth-child(even) {
        background-color: darken(#51cbce, 15);
      }

      &:nth-child(odd) {
        background-color: white;
      }
    }
  }

  & ._piece {
    position: absolute;
  }
}
