<nav class="app-navbar" role="navigation">
  <div class="_container" [ngClass]="{ '-togglerisopen': togglerIsOpen }">
    <div class="_brand">Chess manager</div>
    <button class="_toggler" type="button" (click)="onTogglerClicked()">
      <span class="_togglerkebab"></span>
      <span class="_togglerkebab"></span>
      <span class="_togglerkebab"></span>
    </button>
    <div class="_collapse" *ngIf="togglerIsOpen" @togglerAnim>
      <ul class="_nav">
        <li class="_navitem">
          <a routerLink="settings"  (click)="onTogglerClicked()">
            <i class="_navitemicon nc-icon-settings-gear"></i>
            <p class="_navitemtext">Settings</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
