<div class="fen-position">
  <div class="_row">
    <div class="_col">
      <app-chessboard [fenPosition]="fenPosition"></app-chessboard>
      <div class="_validation -invalid">
        <div class="_validationnotation">{{ fenPosition.notation }}</div>
        <div class="_validationerrorindicator" *ngIf="!fenPosition.isValid"></div>
        <div class="_validationmessage">
          {{ fenPosition.isValid ? 'FEN position is valid' : 'Error error'}}
        </div>
      </div>
    </div>
    <div class="_col">
      <form class="_form"   [formGroup]="form"
      id="form"
      novalidate="novalidate"  (ngSubmit)="onFormSubmit()">
        <fieldset class="_formfieldset">
          <label class="_formlabel">Notation</label>
          <input
            class="_forminput"
            type="text"
            placeholder="Notation"
            formControlName="notation"
            />
            <!-- [value]="notation.value" -->
        </fieldset>
        <fieldset class="_formfieldset">
          <label class="_formlabel">Description</label>
          <input
            class="_forminput"
            type="text"
            placeholder="Description"
            formControlName="description"
            />
            <!-- [value]="description.value" -->
        </fieldset>
        <button type="submit" class="_formsubmit">Save</button>
      </form>
      <button class="_standardnotationbutton" (click)="applyStartingPosition()">
        Starting position
      </button>
      <button class="_standardnotationbutton" (click)="applyEmptyBoard()">
        Empty board
      </button>
    </div>
  </div>
</div>
