@import '../../assets/styles/_bootstrap.scss';
@import '../../assets/styles//_card.scss';
@import '../../assets/styles//_button.scss';

.fen-position {
  @include make-container();

  padding-top: 2rem;

  & ._row {
    @include make-row();

    justify-content: center;
  }

  & ._col {
    @include make-col-ready();
    @include make-col(12);

    margin-bottom: 2rem;

    @include media-breakpoint-up('sm') {
      @include make-col(6);
    }

    @include media-breakpoint-up('xl') {
      @include make-col(3);
    }
  }

  & ._form {
    @include app-card();

    // Display & Box Model
    display: flex;
    flex-direction: column;
  }

  & ._formfieldset {
    // Display & Box Model
    padding: 0;
    border: none;
    margin: 0;
    margin-bottom: 1.2rem;
  }

  & ._formlabel {
    // Display & Box Model
    display: block;
    margin-bottom: 0.4rem;

    // Other
    color: #9a9a9a;
    font-size: 0.75rem;
  }

  & ._forminput {
    display: block;
    width: 100%;
    padding: 0.65rem;
    border: 1px solid #dddddd;

    border-radius: 0.25rem;

    &::placeholder {
      color: #6c757d;
      font-size: 0.85rem;
    }
  }

  & ._formsubmit {
    @include app-button();

    align-self: flex-end;
  }
}
