<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <div class="app__row">
    <div class="app__welcome">
      <h1>Welcome to {{ title }}!</h1>
      <img
        width="300"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
    </div>
  </div>
  <div class="app__row">
    <div class="app__intro">
      >
      <h2>Here are some links to help you start:</h2>
      <ul class="app__links">
        <li>
          <h2>
            <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
              >Tour of Heroes</a
            >
          </h2>
        </li>
        <li>
          <h2>
            <a target="_blank" rel="noopener" href="https://angular.io/cli"
              >CLI Documentation</a
            >
          </h2>
        </li>
        <li>
          <h2>
            <a target="_blank" rel="noopener" href="https://blog.angular.io/"
              >Angular blog</a
            >
          </h2>
        </li>
      </ul>
    </div>
  </div>
  <div class="app__row">
    <div class="app__icons-preview">
      <h2>Icons preview</h2>
      <div class="app__row">
        <div class="app__icon-set">
          <h3>Maya</h3>
          <span class="icon-maya-wr"></span>
          <span class="icon-maya-wn"></span>
          <span class="icon-maya-wb"></span>
          <span class="icon-maya-wq"></span>
          <span class="icon-maya-wk"></span>
          <span class="icon-maya-wp"></span>
          <span class="icon-maya-br"></span>
          <span class="icon-maya-bn"></span>
          <span class="icon-maya-bb"></span>
          <span class="icon-maya-bq"></span>
          <span class="icon-maya-bk"></span>
          <span class="icon-maya-bp"></span>
        </div>
      </div>

      <div class="app__row">
        <div class="app__icon-set">
          <h3>Leipzig</h3>
          <span class="icon-leipzig-wr"></span>
          <span class="icon-leipzig-wn"></span>
          <span class="icon-leipzig-wb"></span>
          <span class="icon-leipzig-wq"></span>
          <span class="icon-leipzig-wk"></span>
          <span class="icon-leipzig-wp"></span>
          <span class="icon-leipzig-br"></span>
          <span class="icon-leipzig-bn"></span>
          <span class="icon-leipzig-bb"></span>
          <span class="icon-leipzig-bq"></span>
          <span class="icon-leipzig-bk"></span>
          <span class="icon-leipzig-bp"></span>
        </div>
      </div>
      <div class="app__row">
        <div class="app__icon-set">
          <h3>Alpha</h3>
          <span class="icon-alpha-wr"></span>
          <span class="icon-alpha-wn"></span>
          <span class="icon-alpha-wb"></span>
          <span class="icon-alpha-wq"></span>
          <span class="icon-alpha-wk"></span>
          <span class="icon-alpha-wp"></span>
          <span class="icon-alpha-br"></span>
          <span class="icon-alpha-bn"></span>
          <span class="icon-alpha-bb"></span>
          <span class="icon-alpha-bq"></span>
          <span class="icon-alpha-bk"></span>
          <span class="icon-alpha-bp"></span>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
