@import '../../assets/styles/_bootstrap.scss';
@import '../../assets/styles/_list.scss';
@import '../../assets/styles/_link.scss';
@import '../../assets/styles/_button.scss';
@import '../../assets/styles/_input.scss';
@import '../../assets/styles/_variables.scss';

.fen-positions {
  @include make-container();

  & ._row {
    @include make-row();

    justify-content: center;
  }

  & ._col {
    @include make-col-ready();
    @include make-col(12);

    margin-bottom: 2rem;
  }

  & ._list {
    @include app-list();
  }

  & ._listitem {
    @include app-listitem();

    &.-nodiagrams {
      color: #66615b;
      cursor: default;
      font-style: italic;
      font-weight: 300;
    }
  }

  & ._listlink {
    @include app-listlink();
  }

  & ._form {
    display: flex;
    width: 50%;
  }

  & ._forminput {
    @include app-input();

    margin-right: 1rem;
  }

  & ._formsubmit {
    @include app-button-small();

    background-color: $app-button-primary;
    border-radius: $app-button-border-radius-rounded;

    &:active,
    &:focus,
    &:hover {
      background-color: $app-button-primary-active;
    }

    & .nc-icon-plus {
      margin-right: 0.5rem;
    }
  }
}
