<div class="fen-positions">
  <div class="_row">
    <div class="_col">
      <ul class="_list">
        <li class="_listitem" *ngFor="let fenDiagram of fenDiagrams">
          <a
            class="_listlink"
            [routerLink]="['../../fen-diagram', fenDiagram.id]"
            >{{ fenDiagram.description }}</a
          >
          <svg
            viewBox="0 0 32 32"
            class="_listdeletebutton"
            (click)="onDeleteButtonClicked(fenDiagram.id)"
          >
            <use [appSvgIcon]="SvgIcons.Trash" />
          </svg>
        </li>
        <li class="_listitem -nodiagrams" *ngIf="fenDiagrams.length === 0">
          No diagrams yet
        </li>
        <li class="_listitem">
          <form
            [formGroup]="form"
            class="_form"
            id="form"
            (ngSubmit)="onFormSubmit()"
            novalidate
          >
            <input
              class="_forminput"
              type="text"
              placeholder="Description"
              formControlName="description"
            />
            <button type="submit" class="_formsubmit">
              <svg viewBox="0 0 32 32" class="_formsubmiticon">
                <use [appSvgIcon]="SvgIcons.Send" /></svg
              >Save
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
