@import '../../../assets/styles/_bootstrap.scss';

.icon-set {
  display: flex;
  flex-direction: column;

  & ._colorsubset {
    display: flex;
  }

  & ._icon {
    width: 2rem;
    height: 2rem;
  }
}
