<div class="icon-set">
  <div class="_col">
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-wr" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-wn" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-wb" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-wq" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-wk" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-wp" />
    </svg>
  </div>
  <div class="_col">
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-br" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-bn" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-bb" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-bq" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-bk" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use xlink:href="/assets/icons/icons.svg#alpha-bp" />
    </svg>
  </div>
</div>
