<div class="icon-set">
  <div class="_col">
    <svg viewBox="0 0 32 32" class="_icon">
      <use  [appChessPieceIcon]="'R'" [iconSet]="iconSet" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use  [appChessPieceIcon]="'N'" [iconSet]="iconSet" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use  [appChessPieceIcon]="'B'" [iconSet]="iconSet" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use  [appChessPieceIcon]="'Q'" [iconSet]="iconSet" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use  [appChessPieceIcon]="'K'" [iconSet]="iconSet" />
    </svg>
    <svg viewBox="0 0 32 32" class="_icon">
      <use  [appChessPieceIcon]="'P'" [iconSet]="iconSet" />
    </svg>
  </div>
  <div class="_col">
      <svg viewBox="0 0 32 32" class="_icon">
          <use  [appChessPieceIcon]="'r'" [iconSet]="iconSet" />
        </svg>
        <svg viewBox="0 0 32 32" class="_icon">
          <use  [appChessPieceIcon]="'n'" [iconSet]="iconSet" />
        </svg>
        <svg viewBox="0 0 32 32" class="_icon">
          <use  [appChessPieceIcon]="'b'" [iconSet]="iconSet" />
        </svg>
        <svg viewBox="0 0 32 32" class="_icon">
          <use  [appChessPieceIcon]="'q'" [iconSet]="iconSet" />
        </svg>
        <svg viewBox="0 0 32 32" class="_icon">
          <use  [appChessPieceIcon]="'k'" [iconSet]="iconSet" />
        </svg>
        <svg viewBox="0 0 32 32" class="_icon">
          <use  [appChessPieceIcon]="'p'" [iconSet]="iconSet" />
        </svg>
  </div>
</div>
