$app-button-primary: #51cbce;
$app-button-primary-active: #34b5b8;

$app-button-secondary: #66615b;
$app-button-secondary-active: #403d39;

$app-button-border-radius: 0.2rem;
$app-button-border-radius-rounded: 2rem;

@mixin app-button() {
  padding: 0.25rem 0.5rem;
  border: none;

  color: white;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5rem;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
