@import './variables';

@mixin app-link() {
  color: $color-cyan;
  text-decoration: none;
  transition: all 0.15s linear;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
  }

  &:visited {
    color: $color-cyan-darker;
  }
}
