@import './_bootstrap.scss';
@import './_variables.scss';

html,
body {
  min-width: 360px;
  padding: 0;
  margin: 0;

  font-family: $font-montserrat;
}
* {
  box-sizing: border-box;

  font-family: $font-montserrat;
}
