@font-face {
  font-family: 'nucleo-icons';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/nucleo-icons.eot');
  src: url('/assets/fonts/nucleo-icons.eot') format('embedded-opentype'), url('/assets/fonts/nucleo-icons.woff2') format('woff2'),
    url('/assets/fonts/nucleo-icons.woff') format('woff'), url('/assets/fonts/nucleo-icons.ttf') format('truetype');
}

[class*='nc-icon']::before{
  display: inline-block;

  font: normal normal normal 14px/1 'nucleo-icons';
  font-size: inherit;
  /* Better Font Rendering */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
  text-transform: none;
}

.nc-icon {
  &-settings-gear::before {
    content: '\ea49';
  }
}
