@font-face {
  font-family: 'chess-pieces';
  src:  url('/assets/fonts/chess-pieces.eot');
  src:  url('/assets/fonts/chess-pieces.eot#iefix') format('embedded-opentype'),
    url('/assets/fonts/chess-pieces.ttf') format('truetype'),
    url('/assets/fonts/chess-pieces.woff') format('woff'),
    url('/assets/fonts/chess-pieces.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']::before,
[class*='icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chess-pieces';
  speak: none;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maya {
  &-wr::before {
    content: '\e900';
  }
  &-wq::before {
    content: '\e911';
  }
  &-wp::before {
    content: '\e917';
  }
  &-wn::before {
    content: '\e91c';
  }
  &-wk::before {
    content: '\e920';
  }
  &-wb::before {
    content: '\e926';
  }
  &-br::before {
    content: '\e92b';
  }
  &-bq::before {
    content: '\e92d';
  }
  &-bp::before {
    content: '\e936';
  }
  &-bn::before {
    content: '\e93a';
  }
  &-bb::before {
    content: '\e940';
  }
  &-bk::before {
    content: '\e944';
  }
}

.icon-leipzig {

  &-wr::before {
    content: '\e964';
  }
  &-wq::before {
    content: '\e977';
  }
  &-wp::before {
    content: '\e97d';
  }
  &-wn::before {
    content: '\e982';
  }
  &-wk::before {
    content: '\e997';
  }
  &-wb::before {
    content: '\e9a5';
  }
  &-br::before {
    content: '\e9b1';
  }
  &-bq::before {
    content: '\e9b2';
  }
  &-bp::before {
    content: '\e9bb';
  }
  &-bn::before {
    content: '\e9c3';
  }
  &-bk::before {
    content: '\e9d0';
  }
  &-bb::before {
    content: '\e9d9';
  }
}

.icon-alpha {

  &-wr::before {
    content: '\e9da';
  }
  &-wq::before {
    content: '\e9de';
  }
  &-wp::before {
    content: '\e9e5';
  }
  &-wn::before {
    content: '\e9e9';
  }
  &-wk::before {
    content: '\e9eb';
  }
  &-wb::before {
    content: '\e9f1';
  }
  &-br::before {
    content: '\e9f7';
  }
  &-bq::before {
    content: '\e9fa';
  }
  &-bp::before {
    content: '\ea00';
  }
  &-bn::before {
    content: '\ea01';
  }
  &-bk::before {
    content: '\ea05';
  }
  &-bb::before {
    content: '\ea0d';
  }
}
