<div class="fen-diagram">
  <div class="_row">
    <div class="_col">
      <app-chessboard [fenDiagram]="fenDiagram"></app-chessboard>
      <div
        class="_validationwrapper"
        [ngClass]="{ '-invalid': !fenDiagram.isValid }"
      >
        <div
          class="_validation"
          [ngClass]="{ '-isempty': fenDiagram.notation === '' }"
        >
          <div class="_validationnotation">
            {{ fenDiagram.notation }}
          </div>
          <div
            class="_errorindicator"
            *ngIf="!fenDiagram.isValid"
            [innerHtml]="errorIndicator"
          ></div>
        </div>

        <div class="_validationmessage">
          {{ validationMessage }}
        </div>
      </div>
    </div>
    <div class="_col">
      <form
        class="_form"
        [formGroup]="form"
        id="form"
        (ngSubmit)="onFormSubmit()"
        novalidate
      >
        <fieldset class="_formfieldset">
          <label class="_formlabel">Notation</label>
          <input
            class="_forminput"
            type="text"
            placeholder="Notation"
            formControlName="notation"
          />
          <!-- [value]="notation.value" -->
        </fieldset>
        <fieldset class="_formfieldset">
          <label class="_formlabel">Description</label>
          <input
            class="_forminput"
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </fieldset>
        <div class="_formbuttonswrapper">
          <button class="_formbutton -undo" (click)="onUndo()">
            <svg viewBox="0 0 32 32" class="_formbuttonicon -undo">
              <use [appSvgIcon]="SvgIcons.Undo" />
            </svg>
            Undo
          </button>
          <button type="submit" class="_formbutton -submit">
            <svg viewBox="0 0 32 32" class="_formbuttonicon -submit">
              <use [appSvgIcon]="SvgIcons.Send" />
            </svg>
            Save
          </button>
        </div>
      </form>
      <button class="_standardnotationbutton" (click)="applyStartingPosition()">
        Starting position
      </button>
      <button class="_standardnotationbutton" (click)="applyEmptyBoard()">
        Empty board
      </button>
    </div>
  </div>
</div>
