@import '../../assets/styles/_bootstrap.scss';
@import '../../assets/styles/_card.scss';
@import '../../assets/styles/_button.scss';
@import '../../assets/styles/_variables.scss';

.fen-diagram {
  @include make-container();

  padding-top: 2rem;

  & ._row {
    @include make-row();

    justify-content: center;
  }

  & ._col {
    @include make-col-ready();
    @include make-col(12);

    margin-bottom: 2rem;

    @include media-breakpoint-up('sm') {
      @include make-col(6);
    }

    @include media-breakpoint-up('xl') {
      @include make-col(3);
    }
  }

  & ._validationwrapper {
    padding: 1.2rem;
    border: 1px solid #66615b;

    &.-invalid {
      border-color: #ef8157;

      color: #ef8157;
    }
  }

  & ._validation {
    padding-bottom: 1rem;

    overflow-x: auto;
  }

  & ._validationnotation {
    font-family: $font-roboto-mono;
  }

  & ._errorindicator {
    font-family: $font-roboto-mono;
  }

  & ._validationmessage {
    margin-top: 0.6rem;
  }

  & ._form {
    @include app-card();

    // Display & Box Model
    display: flex;
    flex-direction: column;
  }

  & ._formfieldset {
    // Display & Box Model
    padding: 0;
    border: none;
    margin: 0;
    margin-bottom: 1.2rem;
  }

  & ._formlabel {
    // Display & Box Model
    display: block;
    margin-bottom: 0.4rem;

    // Other
    color: #9a9a9a;
    font-size: 0.75rem;
  }

  & ._forminput {
    display: block;
    width: 100%;
    padding: 0.65rem;
    border: 1px solid #dddddd;

    border-radius: 0.25rem;

    &::placeholder {
      color: #6c757d;
      font-size: 0.85rem;
    }
  }

  & ._formsubmit {
    @include app-button();

    align-self: flex-end;
    background-color: $app-button-primary;
    border-radius: $app-button-border-radius-rounded;

    &:active,
    &:focus,
    &:hover {
      background-color: $app-button-primary-active;
    }
  }

  & ._wrapperbuttons {
    display: flex;
    margin: 0 -1rem;
  }

  & ._standardnotationbutton {
    @include app-button-small();

    width: 100%;
    margin: 0.25rem 0;

    background-color: $app-button-secondary;
    border-radius: $app-button-border-radius;

    &:active,
    &:hover,
    &:focus {
      background-color: $app-button-secondary-active;
    }
  }
}
