@import '../../assets/styles/_bootstrap.scss';

.settings {
  @include make-container();

  padding-top: 2rem;

  & ._row {
    @include make-row();
  }

  & ._col {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up('md') {
      @include make-col(6);
    }
  }

  & ._card {
    // Positioning
    position: relative;

    // Display & Box Model
    margin-bottom: 20px;

    // Other
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    color: #252422;
  }

  & ._cardbody {
    padding: 15px 15px 0;
  }

  & ._cardleftcol {
    @include make-col-ready();
    @include make-col(7);
  }

  & ._cardrightcol {
    @include make-col-ready();
    @include make-col(5);

    text-align: right;
  }

  & ._cardcategory {
    // Display & Box Model
    margin: 0;

    // Other
    color: #9a9a9a;
    font-size: 1rem;
    line-height: 1.4em;
  }

  & ._cardtitle {
    // Display & Box Model
    margin: 0;

    // Other
    font-size: 1.5rem;
  }

  & ._iconsetform {
    @include make-col-ready();
    @include make-col(12);

    // Display & Box Model
    display: flex;
    flex-direction: column;
  }

  & ._iconsetlabel {
    margin-bottom: 0.5rem;
  }

  & ._iconsetradiobutton {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-bottom: 1.5rem;

    cursor: pointer;
    line-height: 1.4rem;

    & input {
      position: absolute;
      z-index: 999;

      display: block;
      width: 100%;
      height: 100%;
      margin: 0 0 0 -2rem;

      cursor: pointer;
      opacity: 0;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      border-radius: 50%;
      content: '';
    }

    &::before {
      width: 1.2rem;
      height: 1.2rem;
      border: 0.1rem solid #51cbce;
      margin-top: -0.6rem;
    }

    &.-checked::after {
      width: 0.6rem;
      height: 0.6rem;
      margin: 0.4rem;
      margin-top: -0.2rem;

      background-color: #51cbce;
    }
  }

  & ._cardfooter {
    padding: 0 1rem 1rem;

    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem;
  }

  & ._cardfooterdivider {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0.9rem;
    margin-bottom: 1rem;
  }

  & ._cardfooterbutton {
    // Display & Box Model
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  & ._cardfootericon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;

    fill: #66615b;
  }
}
