<div class="settings">
  <div class="_row">
    <div class="_col">
      <div class="_card">
        <!-- Selected icon set -->
        <div class="_selectediconsetwrapper" *ngIf="!iconSetCardIsOpen">
          <div class="_iconsetwrapper">
            <app-icon-set [iconSet]="currenticonSet"></app-icon-set>
          </div>
          <div class="_headerwrapper">
            <p class="_cardcategory">Icon set</p>
            <p class="_cardtitle">{{ currenticonSet }}</p>
          </div>
          <button class="_openformbutton" (click)="openIconSetCard()">
            <svg viewBox="0 0 32 32" class="_openformbuttonicon">
              <use xlink:href="/assets/icons/icons.svg#chess" />
            </svg>
            Change icon set
          </button>
        </div>
        <!-- Select icon set form -->
        <form
          [formGroup]="form"
          id="form"
          novalidate="novalidate"
          *ngIf="iconSetCardIsOpen"
          (ngSubmit)="onFormSubmit()"
          class="_form"
        >
          <div
            class="_radiobutton"
            *ngFor="let iconSet of IconSet | keyvalue"
            [ngClass]="{ '-checked': isIconSetSelected(iconSet.value) }"
          >
            <input
              type="radio"
              name="iconSet"
              formControlName="iconSet"
              [value]="iconSet.value"
              class="_radiobuttoninput"
            />
            <label class="_radiobuttonlabel">{{ iconSet.key }}</label>
            <app-icon-set [iconSet]="iconSet.value"></app-icon-set>
          </div>
          <button type="submit" class="_formsubmit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
