<div class="settings">
  <div class="_row">
    <div class="_col">
      <div class="_card">
        <div class="_cardbody">
          <div class="_row">
            <div class="_cardleftcol">
              <app-icon-set
                [iconSet]="IconSet.Maya"
                *ngIf="!iconSetCardIsOpen"
              ></app-icon-set>

              <!-- Select options -->
              <div class="_row">
                <form
                  [formGroup]="form"
                  novalidate="novalidate"
                  class="_iconsetform"
                  *ngIf="iconSetCardIsOpen"
                >
                  <div
                    class="_iconsetradiobutton"
                    (click)="selectIconSet(IconSet.Maya)"
                    [ngClass]="{ '-checked': isIconSetSelected(IconSet.Maya) }"
                  >
                    <input
                      type="radio"
                      name="iconSet"
                      formControlName="iconSet"
                      value="IconSet.Maya"
                    />
                    <label class="_iconsetlabel">Maya</label>
                    <app-icon-set [iconSet]="IconSet.Maya"></app-icon-set>
                  </div>
                  <div
                    class="_iconsetradiobutton"
                    (click)="selectIconSet(IconSet.Alpha)"
                    [ngClass]="{ '-checked': isIconSetSelected(IconSet.Alpha) }"
                  >
                    <input
                      type="radio"
                      name="iconSet"
                      formControlName="iconSet"
                      value="IconSet.Alpha"
                    />
                    <label class="_iconsetlabel">Alpha</label>
                    <app-icon-set [iconSet]="IconSet.Alpha"></app-icon-set>
                  </div>
                  <div
                    class="_iconsetradiobutton"
                    (click)="selectIconSet(IconSet.Leipzig)"
                    [ngClass]="{ '-checked': isIconSetSelected(IconSet.Leipzig) }"
                  >
                    <input
                      type="radio"
                      name="iconSet"
                      formControlName="iconSet"
                      value="IconSet.Leipzig"
                    />
                    <label class="_iconsetlabel">Leipzig</label>
                    <app-icon-set [iconSet]="IconSet.Leipzig"></app-icon-set>
                  </div>
                </form>
              </div>
            </div>
            <div class="_cardrightcol">
              <p class="_cardcategory">Icon set</p>
              <p class="_cardtitle">Alpha</p>
            </div>
          </div>
        </div>
        <div class="_cardfooter" *ngIf="!iconSetCardIsOpen">
          <hr class="_cardfooterdivider" />
          <div class="_cardfooterbutton" (click)="openIconSetCard()">
            <svg viewBox="0 0 32 32" class="_cardfootericon">
              <use xlink:href="/assets/icons/icons.svg#chess" />
            </svg>
            Change icon set
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
