<div class="settings">
  <div class="_row">
    <div class="_col">
      <div class="_card">
        <div class="_cardbody">
          <div class="_row">
            <div class="_cardleftcol">
              <div class="_row">
                <div class="_iconsetcol">
                  <i class="cp-icon-alpha-br"></i>
                  <i class="cp-icon-alpha-bn"></i>
                  <i class="cp-icon-alpha-bb"></i>
                  <i class="cp-icon-alpha-bq"></i>
                  <i class="cp-icon-alpha-bk"></i>
                  <i class="cp-icon-alpha-bp"></i>
                </div>
                <div class="_iconsetcol">
                  <i class="cp-icon-alpha-wr"></i>
                  <i class="cp-icon-alpha-wn"></i>
                  <i class="cp-icon-alpha-wb"></i>
                  <i class="cp-icon-alpha-wq"></i>
                  <i class="cp-icon-alpha-wk"></i>
                  <i class="cp-icon-alpha-wp"></i>
                </div>
              </div>
            </div>
            <div class="_cardrightcol">
              <p class="_cardcategory">Icon set</p>
              <p class="_cardtitle">Alpha</p>
            </div>
          </div>
        </div>
        <div class="_cardfooter">
          <hr class="_cardfooterdivider">
        </div>
      </div>
    </div>
  </div>
</div>
